In [9]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier, VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score, StratifiedKFold, GridSearchCV,train_test_split

In [11]:
data = pd.read_csv(os.getcwd()+'\\data_for_modeling.csv')

In [12]:
data.head()

,SCALE,STEEL_KIND,PT_THK,PT_WDTH,PT_LTH,PT_WGT,FUR_HZ_TEMP,FUR_HZ_TIME,FUR_SZ_TEMP,FUR_SZ_TIME,FUR_TIME,ROLLING_TEMP_T5,HSB,ROLLING_DESCALING,WORK_GR,specific_spec,temp_loss
0,0,T1,32.25,3707,15109,14180,1144,116,1133,59,282,934,1,8,2,0,-875
1,0,T1,32.25,3707,15109,14180,1144,122,1135,53,283,937,1,8,2,0,-884
2,0,T8,33.27,3619,19181,18130,1129,116,1121,55,282,889,1,8,3,0,-834
3,0,T8,33.27,3619,19181,18130,1152,125,1127,68,316,885,1,8,3,0,-817
4,0,T8,38.33,3098,13334,12430,1140,134,1128,48,314,873,1,8,1,0,-825

In [18]:
y = data.SCALE
x = data.drop('SCALE', axis=1)

In [19]:
x

,STEEL_KIND,PT_THK,PT_WDTH,PT_LTH,PT_WGT,FUR_HZ_TEMP,FUR_HZ_TIME,FUR_SZ_TEMP,FUR_SZ_TIME,FUR_TIME,ROLLING_TEMP_T5,HSB,ROLLING_DESCALING,WORK_GR,specific_spec,temp_loss
0,T1,32.25,3707,15109,14180,1144,116,1133,59,282,934,1,8,2,0,-875
1,T1,32.25,3707,15109,14180,1144,122,1135,53,283,937,1,8,2,0,-884
2,T8,33.27,3619,19181,18130,1129,116,1121,55,282,889,1,8,3,0,-834
3,T8,33.27,3619,19181,18130,1152,125,1127,68,316,885,1,8,3,0,-817
4,T8,38.33,3098,13334,12430,1140,134,1128,48,314,873,1,8,1,0,-825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704,C0,20.14,3580,38639,21870,1172,72,1164,62,245,1005,1,8,2,0,-943
705,C0,15.08,3212,48233,18340,1150,61,1169,61,238,947,1,10,1,0,-886
706,C0,16.60,3441,43688,19590,1169,65,1163,77,247,948,1,10,4,0,-871
707,C0,15.59,3363,48740,80240,1179,86,1163,45,243,940,1,10,2,0,-895
708,C0,16.09,3400,54209,69840,1186,82,1169,45,239,957,1,10,2,0,-912